@import '../colors';

.projectsContainer{
    padding: 16px 0;
}

.btn {
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    &:hover {
        opacity: .7;
    }
}
.createBtn {
    background-color: $secondColor;
    width: 30px;
    height: 30px;
}

// CSS Create project
.projectImg {
    width: 100px;
    height: 100px;
    border: 1px dashed $mainColor;
    margin-bottom: 16px;
    overflow: hidden;
}

.inforInput{
    background-color: $BgThirdColor !important;
    color: $mainColor !important;
    border-color: $fistColor !important;
    width: 100%;
    box-shadow: none !important;
}
.inforInput input::placeholder {
    color: $thirdColor !important;
}
.inforInput input{
    border: none !important;
    background-color: $BgThirdColor !important;
}


// CSS Project process
.projectProcess {
    background-color: $BgMainColor;   
    min-height: 100vh;
}

.navMenu {
    background-color: $BgThirdColor;
    padding: 16px 0;
    color: $mainColor;
}
.closeBtn {
    color: $fistColor;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.iconStage {
    font-size: 40px;
    color: $mainColor;
    cursor: pointer;
}

// CSS Stage content
.stageContent {
    padding: 16px;
    text-align: left;
}

.stageContent span{
    margin-bottom: 8px;
}

.activeStage {
    color: $fistColor;
}
.activeStage span{
    color: $fistColor;
}
