@import '../colors';

.projectsContainer{
    padding: 16px 0;
}

.btn {
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: #fff;
    cursor: pointer;
    &:hover {
        opacity: .7;
    }
}
.createBtn {
    background-color: $secondColor;
    font-size: 25px;
    width: 30px;
    height: 30px;
}