@import '../colors';

.projectsContainer{
    padding: 16px 0;
}

.btn {
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: #fff;
    cursor: pointer;
    &:hover {
        opacity: .7;
    }
}
.createBtn {
    background-color: $secondColor;
    font-size: 25px;
    width: 30px;
    height: 30px;
}

// CSS Create project
.projectImg {
    width: 100px;
    height: 100px;
    border: 1px dashed $mainColor;
    margin-bottom: 16px;
    overflow: hidden;
}

.inforInput{
    background-color: $BgThirdColor !important;
    color: $mainColor !important;
    border-color: $fistColor !important;
    width: 100%;
    box-shadow: none !important;
}
.inforInput input::placeholder {
    color: $mainColor !important;
}
.inforInput input{
    border: none !important;
    background-color:  $BgThirdColor !important;
}