@import '../colors';

.sidebar {
    width:20%;
    background-color: $BgSecondColor ;
    display: inline-block;
    float: left;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}
.sidebar img {
    width: 15%;
}

.logoText {
    font-size: 25px;
    font-weight: 600;
}

.sidebarMenu {
    background-color: $BgSecondColor;
}
.sidebarMenu li {
    padding-left: 16px !important;
    color: $mainColor !important;
    text-align: left;
}

// =============== Content CSS =======================
.contentContainer {
    background-color: $BgMainColor;
    width: 80%;
    float: right;
}
.content {
    width: 95%;
    padding: 16px 0;
}

.header {
    height: 65px;
    background-color: $BgThirdColor;
    border-radius: 8px;
    padding: 8px;
}
.search {
    height: 50px;
    width: 80%;
    background-color: $BgThirdColor !important;
    color: $mainColor;
    border: none;
    font-size: 18px;
    &:focus {
        outline: none !important;
        border: none !important;
    }
}
.search input::placeholder{
    color: $mainColor !important;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.logoutBtn {
    position: absolute;
    bottom: 30px;
    left: 16px;
}

@media (max-width: 768px){
    .sidebar{
        width: 25%;
    }
    .sidebar img {
        width: 60%;
    }
    .logoText {
        font-size: 20px;
        font-weight: 600;
    }
    .contentContainer {
        width: 755;
    }
}

@media (max-width: 992px){
    .sidebar img {
        width: 60%;
    }
}