$mainColor: #c7cbe3;
$fistColor:#7367f0; 
$secondColor: #9087f3;
$thirdColor: #d6d9e485;

.sidebar {
    width: 20%;
    background-color: #393d52;
    // height: max-content;
}
.sidebar img {
    width: 15%;
}
