$mainColor: #c7cbe3;
$fistColor:#7367f0; 
$secondColor: #9087f3;
$thirdColor: #d6d9e485;

$BgMainColor: #202336;
$BgSecondColor: #393d52;
$BgthirdColor: #2f3349;

.profileContainer {
    font-size: 20px;
    padding: 16px 0;
    height: 100vh;
}

.btn {
    font-size: 18px;    
    background-color: $BgMainColor;
    border: none;
    color: $mainColor !important;
    &:hover {
        background-color: $fistColor !important;
        color: #fff !important;
    }
}
.active {
    background-color: $fistColor;
    color: #fff !important;
}

.profileInfor {
    background-color: $BgSecondColor;
    padding: 16px;
    border-radius: 8px;
}
.profileInfor img {
    border-radius: 6px;
}
.formProfile label{
    color: $mainColor !important;
    margin: 0 8px;
}
.formProfile input{
    width: 100% !important;
    background-color: $BgSecondColor;
    color: $mainColor;
    border: 1px solid $secondColor;
    &:hover {
        background-color: $BgSecondColor;
        border: 1px solid $secondColor;
    }
    &:focus{
        background-color: $BgSecondColor;
        border: 1px solid $secondColor !important;
    }
    &::placeholder{
        color: $thirdColor !important;
    }
}

.refreshBtn {
    background-color: #4c5066;
    border: none;
    color: $mainColor;
    font-weight: 500;
   &:hover {
    color: #fff !important;
    background-color: $secondColor !important;
  }
}

.userInput {
    background-color: $BgSecondColor;
    color: $mainColor;
    border: 1px solid $secondColor;
    width: 100%;
    &:hover {
        background-color: $BgSecondColor;
        border: 1px solid $secondColor;
    }
    &:focus{
        background-color: $BgSecondColor;
        border: 1px solid $secondColor !important;
    }
    &:focus-within{
        background-color: $BgSecondColor;
        border: 1px solid $secondColor !important;
    }
    &::placeholder{
        color: $thirdColor !important;
    }
}
.userInput:focus-within input{
    border: none !important;
}
.userInput input:hover{
    border: none !important;
}
.userInput input::placeholder {
    color: $thirdColor !important;
}