$mainColor: #c7cbe3;
$fistColor:#7367f0; 
$secondColor: #9087f3;
$thirdColor: #d6d9e485;

.container {
    background-color: #393d52;
    padding: 24px;
}

.content {
    width: 30%;
    padding: 32px;
}

.formRegister {
    margin-top: 24px;
    width: 100%;
    color: $mainColor;
}
.formRegister label {
    color: $mainColor !important;
    padding-bottom: 0;
}

.inforInput {
    background-color: #393d52;
    color: $mainColor;
    border: 1px solid $secondColor;
    width: 100%;
    &:hover {
        background-color: #393d52;
        border: 1px solid $secondColor;
    }
    &:focus{
        background-color: #393d52;
        border: 1px solid $secondColor !important;
    }
    &::placeholder{
        color: $thirdColor !important;
    }
}
// .userInput {
//     // border: 1px solid #9087f3;
//     &:hover {
//         border: 1px solid $secondColor;
//         outline: none;
//     }
//     &:focus {
//         border: 1px solid $secondColor;
//         outline: none;
//     }
// }

// .linkBtn {
//     color: $fistColor;
//     padding: 0;
//     font-size: 15px;
//     margin-left: 12px;
//     &:hover {
//         color: $secondColor !important;
//     }
// }

.registerBtn {
    width: 100%;
    background-color: $secondColor;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    &:hover {
        color: #fff !important;
        font-weight: 600;
        background-color: $fistColor !important;
    }
}

.divider {
    color: $mainColor !important;
    &::before {
       border-block-start: 1px solid $mainColor !important;
    }
    &::after{
        border-block-start: 1px solid $mainColor !important;
    }
}