@import '../../colors';

.projectDetailImg {
    height: max-content;
    border-right: 1px solid $thirdColor;
}
.projectDetailImg img {
    max-width: 95%;
    border-radius: 4px;
}

.generalInfor{
    padding: 16px 24px;
}
.mainInfor{
    border: 1px solid $thirdColor;
    border-radius: 8px;
}
.userInfor{
    padding: 16px;
}
.price {
    padding: 16px;
}

.inforItem {
    background-color: $BgThirdColor;
    margin: 8px;
    padding: 8px;
    border-radius: 8px;
}

.toDesignStage {
    margin-top: 16px;
    width: 100%;
}
.toDesignStage span {
    margin-bottom: 0;
}

@media (max-width: 991px){    
    
    .projectDetailImg {
        border-right: none;
    }
    .projectDetailImg img {
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 767px){
    .iconStage {
        font-size: 30px;
    }
}

    