$mainColor: #c7cbe3;
$fistColor:#7367f0; 
$secondColor: #9087f3;
$thirdColor: #d6d9e485;

$BgMainColor: #202336;
$BgSecondColor: #393d52;
$BgThirdColor: #2f3349;

.container {
    background-color: $BgSecondColor;
    padding: 24px;
    height: 100vh;
}

.content {
    width: 35%;
    padding: 32px;
    // background-color: $BgSecondColor;
}

.formLogin {
    margin-top: 24px;
    width: 100%;
    color: $mainColor;
}
.formLogin label {
    color: $mainColor !important;
}
.userInput {
    background-color: $BgSecondColor;
    color: $mainColor;
    border: 1px solid $secondColor;
    width: 100%;
    &:hover {
        background-color: $BgSecondColor;
        border: 1px solid $secondColor;
    }
    &:focus{
        background-color: $BgSecondColor;
        border: 1px solid $secondColor !important;
    }
    &::placeholder{
        color: $thirdColor !important;
    }
}
.userInput input::placeholder {
    color: $thirdColor !important;
}

.linkBtn {
    color: $fistColor;
    padding: 0;
    font-size: 15px;
    margin-left: 12px;
    &:hover {
        color: $secondColor !important;
    }
}

.loginBtn {
    width: 100%;
}

.divider {
    color: $mainColor !important;
    &::before {
       border-block-start: 1px solid $mainColor !important;
    }
    &::after{
        border-block-start: 1px solid $mainColor !important;
    }
}

@media (max-width: 992px){
    .container {
        height: max-content !important;
    }
}