$mainColor: #c7cbe3;
$fistColor:#7367f0; 
$secondColor: #9087f3;
$thirdColor: #d6d9e485;

$BgMainColor: #202336;
$BgSecondColor: #393d52;
$BgThirdColor: #2f3349;

.App {
  text-align: center;
}

.ant-typography {
  color: $mainColor;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner{
  border: 1px solid $fistColor !important;
}

.ant-checkbox-wrapper-checked .ant-checkbox-inner{
  background-color: $fistColor;
  border: 1px solid $fistColor;
}
.ant-checkbox-wrapper-checked:hover .ant-checkbox-inner{
  background-color: $fistColor !important;
  border: 1px solid $fistColor !important;
}

.ant-menu li:hover .ant-menu-item{
  background-color: $secondColor !important;
}
.ant-menu-item-selected {
  background-color: $fistColor !important;
}
.ant-menu-item-selected .ant-menu-title-content,
.ant-menu-item-selected .anticon {
  color: #fff !important;
}

.submitBtn{
  background-color: $secondColor;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  &:hover {
      color: #fff !important;
      font-weight: 600;
      background-color: $fistColor !important;
  }
}

.userInput {
  background-color: $BgSecondColor;
  color: $mainColor;
  border: 1px solid $secondColor;
  width: 100%;
  &:hover {
      background-color: $BgSecondColor;
      border: 1px solid $secondColor;
  }
  &:focus{
      background-color: $BgSecondColor;
      border: 1px solid $secondColor !important;
  }
  &::placeholder{
      color: $thirdColor !important;
  }
}

.userInput input::placeholder {
  color: $thirdColor !important;
}

// Css Search Input
.searchInput {
  width: 40%;
  background-color: $BgMainColor;
  border: 1px solid $thirdColor !important;
  color: $mainColor;
}
.searchInput input::placeholder {
  color: $mainColor;
}

// Modal Css
.ant-modal-content {
  
}
.ant-modal-content input {

}
