$mainColor: #c7cbe3;
$fistColor:#7367f0; 
$secondColor: #9087f3;

.App {
  text-align: center;
}

.ant-typography {
  color: $mainColor;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner{
  border: 1px solid $fistColor !important;
}

.ant-checkbox-wrapper-checked .ant-checkbox-inner{
  background-color: $fistColor;
  border: 1px solid $fistColor;
}
.ant-checkbox-wrapper-checked:hover .ant-checkbox-inner{
  background-color: $fistColor !important;
  border: 1px solid $fistColor !important;
}
