$mainColor: #c7cbe3;
$fistColor:#7367f0; 
$secondColor: #9087f3;
$thirdColor: #d6d9e485;

.container {
    background-color: #393d52;
    padding: 24px;
}

.content {
    width: 35%;
    padding: 32px;
}

.formContainer {
    margin-top: 24px;
    width: 100%;
    color: $mainColor;
}
.formContainer label {
    color: $mainColor !important;
}
.userInput {
    background-color: #393d52;
    color: $mainColor;
    border: 1px solid $secondColor;
    width: 100%;
    &:hover {
        background-color: #393d52;
        border: 1px solid $secondColor;
    }
    &:focus{
        background-color: #393d52;
        border: 1px solid $secondColor !important;
    }
    &::placeholder{
        color: $thirdColor !important;
    }
}

.linkBtn {
    color: $fistColor;
    padding: 0;
    font-size: 15px;
    margin-left: 12px;
    &:hover {
        color: $secondColor !important;
    }
}

.submitBtn {
    width: 100%;
}
